# EDA Analysis

#### Importing libraries and data

In [71]:
import pandas as pd
import pycountry
rating = pd.read_csv('/home/jabez/Projects/headline_analysis/data/rating.csv')
traffic = pd.read_csv('/home/jabez/Projects/headline_analysis/data/traffic.csv')
domains = pd.read_csv('/home/jabez/Projects/headline_analysis/data/domains_location.csv')

#### Data Overview

In [2]:
# Columns info
rating.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58356 entries, 0 to 58355
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   article_id       58356 non-null  int64
 1   source_id        17771 non-null  object
 2   source_name      58356 non-null  object
 3   author           56193 non-null  object
 4   title            58356 non-null  object
 5   description      58346 non-null  object
 6   url              58356 non-null  object
 7   url_to_image     54905 non-null  object
 8   published_at     58356 non-null  object
 9   content          58356 non-null  object
 10  category         58335 non-null  object
 11  article          58356 non-null  object
 12  title_sentiment  58356 non-null  object
dtypes: int64(1), object(12)
memory usage: 5.8+ MB

In [44]:
rating['category']

0            Monaco
1            Monaco
2        Madagascar
3        Madagascar
4        Madagascar
            ...
58351          Home
58352          Home
58353          Home
58354          Home
58355          Home
Name: category, Length: 58356, dtype: object

In [4]:
rating["article"].nunique()

54148

In [5]:
# droping duplicated articles. Now each row has a unique article.
rating.drop_duplicates(subset=['article'], keep='first', inplace=True)

In [10]:
# 10 Websites with the most articles
rating['source_name'].value_counts().head(10)

source_name
ETF Daily News        15034
The Times of India     6962
GlobeNewswire          5001
Globalsecurity.org     2902
Forbes                 2566
Business Insider       1979
BBC News               1955
The Punch              1734
ABC News               1703
Al Jazeera English     1588
Name: count, dtype: int64

In [12]:
# 10 Websites with the least articles
rating['source_name'].value_counts().tail(10)

source_name
CNA                            674
Time                           577
Android Central                515
Gizmodo.com                    380
ReadWrite                      315
Euronews                       286
CNN                            256
Wired                          256
The Verge                      205
AllAfrica - Top Africa News     18
Name: count, dtype: int64

In [41]:
#top websites by globe traffic
sorted = traffic.sort_values(by='GlobalRank')
sorted['Domain'].head(10)

0              google.com
1            facebook.com
2             youtube.com
3             twitter.com
4           instagram.com
5            linkedin.com
6               apple.com
7           microsoft.com
8    googletagmanager.com
9           wikipedia.org
Name: Domain, dtype: object

In [43]:
#bottom websites by globe traffic
sorted['Domain'].tail(10)

999990              eiretrip.com
999991      exploring-africa.com
999992                  hmag.com
999993            irishcycle.com
999994           keith-baker.com
999995                kireie.com
999996               mt-lock.com
999997             pinkwater.com
999998            soderhomes.com
999999    toyotamusicfactory.com
Name: Domain, dtype: object

In [51]:
domains['SourceCommonName'].nunique()

37472

In [54]:
domains.drop_duplicates(subset=['SourceCommonName'], keep='first', inplace=True)

In [64]:
domains.sort_values(by='Country').count()

SourceCommonName    37472
location            37472
Country             37471
dtype: int64

In [69]:
# Number of news sources per country
news_count = domains.groupby("Country")['SourceCommonName'].count().reset_index()
news_count.sort_values(by='SourceCommonName', ascending=False)

                                          Country  SourceCommonName
214                                 United States             14054
213                                United Kingdom              1935
97                                          Italy              1799
67                                         France              1030
166                                        Russia              1010
..                                            ...               ...
131                                    Micronesia                 1
186  South Georgia and the South Sandwich Islands                 1
168                                  Saint Helena                 1
208                      Turks and Caicos Islands                 1
221                                     West Bank                 1

[225 rows x 2 columns]

In [57]:
domains.head(3)

  SourceCommonName location  Country
0       00221.info       SG  Senegal
1        01net.com       FR   France
2         01net.it       IT    Italy

In [83]:
# Retrieve all country names
country_list = [country.name for country in pycountry.countries]
print(country_list)

['Aruba', 'Afghanistan', 'Angola', 'Anguilla', 'Åland Islands', 'Albania', 'Andorra', 'United Arab Emirates', 'Argentina', 'Armenia', 'American Samoa', 'Antarctica', 'French Southern Territories', 'Antigua and Barbuda', 'Australia', 'Austria', 'Azerbaijan', 'Burundi', 'Belgium', 'Benin', 'Bonaire, Sint Eustatius and Saba', 'Burkina Faso', 'Bangladesh', 'Bulgaria', 'Bahrain', 'Bahamas', 'Bosnia and Herzegovina', 'Saint Barthélemy', 'Belarus', 'Belize', 'Bermuda', 'Bolivia, Plurinational State of', 'Brazil', 'Barbados', 'Brunei Darussalam', 'Bhutan', 'Bouvet Island', 'Botswana', 'Central African Republic', 'Canada', 'Cocos (Keeling) Islands', 'Switzerland', 'Chile', 'China', "Côte d'Ivoire", 'Cameroon', 'Congo, The Democratic Republic of the', 'Congo', 'Cook Islands', 'Colombia', 'Comoros', 'Cabo Verde', 'Costa Rica', 'Cuba', 'Curaçao', 'Christmas Island', 'Cayman Islands', 'Cyprus', 'Czechia', 'Germany', 'Djibouti', 'Dominica', 'Denmark', 'Dominican Republic', 'Algeria', 'Ecuador', 'Egypt', 'Eritrea', 'Western Sahara', 'Spain', 'Estonia', 'Ethiopia', 'Finland', 'Fiji', 'Falkland Islands (Malvinas)', 'France', 'Faroe Islands', 'Micronesia, Federated States of', 'Gabon', 'United Kingdom', 'Georgia', 'Guernsey', 'Ghana', 'Gibraltar', 'Guinea', 'Guadeloupe', 'Gambia', 'Guinea-Bissau', 'Equatorial Guinea', 'Greece', 'Grenada', 'Greenland', 'Guatemala', 'French Guiana', 'Guam', 'Guyana', 'Hong Kong', 'Heard Island and McDonald Islands', 'Honduras', 'Croatia', 'Haiti', 'Hungary', 'Indonesia', 'Isle of Man', 'India', 'British Indian Ocean Territory', 'Ireland', 'Iran, Islamic Republic of', 'Iraq', 'Iceland', 'Israel', 'Italy', 'Jamaica', 'Jersey', 'Jordan', 'Japan', 'Kazakhstan', 'Kenya', 'Kyrgyzstan', 'Cambodia', 'Kiribati', 'Saint Kitts and Nevis', 'Korea, Republic of', 'Kuwait', "Lao People's Democratic Republic", 'Lebanon', 'Liberia', 'Libya', 'Saint Lucia', 'Liechtenstein', 'Sri Lanka', 'Lesotho', 'Lithuania', 'Luxembourg', 'Latvia', 'Macao', 'Saint Martin (French part)', 'Morocco', 'Monaco', 'Moldova, Republic of', 'Madagascar', 'Maldives', 'Mexico', 'Marshall Islands', 'North Macedonia', 'Mali', 'Malta', 'Myanmar', 'Montenegro', 'Mongolia', 'Northern Mariana Islands', 'Mozambique', 'Mauritania', 'Montserrat', 'Martinique', 'Mauritius', 'Malawi', 'Malaysia', 'Mayotte', 'Namibia', 'New Caledonia', 'Niger', 'Norfolk Island', 'Nigeria', 'Nicaragua', 'Niue', 'Netherlands', 'Norway', 'Nepal', 'Nauru', 'New Zealand', 'Oman', 'Pakistan', 'Panama', 'Pitcairn', 'Peru', 'Philippines', 'Palau', 'Papua New Guinea', 'Poland', 'Puerto Rico', "Korea, Democratic People's Republic of", 'Portugal', 'Paraguay', 'Palestine, State of', 'French Polynesia', 'Qatar', 'Réunion', 'Romania', 'Russian Federation', 'Rwanda', 'Saudi Arabia', 'Sudan', 'Senegal', 'Singapore', 'South Georgia and the South Sandwich Islands', 'Saint Helena, Ascension and Tristan da Cunha', 'Svalbard and Jan Mayen', 'Solomon Islands', 'Sierra Leone', 'El Salvador', 'San Marino', 'Somalia', 'Saint Pierre and Miquelon', 'Serbia', 'South Sudan', 'Sao Tome and Principe', 'Suriname', 'Slovakia', 'Slovenia', 'Sweden', 'Eswatini', 'Sint Maarten (Dutch part)', 'Seychelles', 'Syrian Arab Republic', 'Turks and Caicos Islands', 'Chad', 'Togo', 'Thailand', 'Tajikistan', 'Tokelau', 'Turkmenistan', 'Timor-Leste', 'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Türkiye', 'Tuvalu', 'Taiwan, Province of China', 'Tanzania, United Republic of', 'Uganda', 'Ukraine', 'United States Minor Outlying Islands', 'Uruguay', 'United States', 'Uzbekistan', 'Holy See (Vatican City State)', 'Saint Vincent and the Grenadines', 'Venezuela, Bolivarian Republic of', 'Virgin Islands, British', 'Virgin Islands, U.S.', 'Viet Nam', 'Vanuatu', 'Wallis and Futuna', 'Samoa', 'Yemen', 'South Africa', 'Zambia', 'Zimbabwe']

In [82]:
# Countries with the most articles
rating[rating['category'].isin(country_list)]['category'].value_counts().head(10)

category
Canada            2066
India             1054
Australia          877
United Kingdom     753
Ukraine            577
Mexico             553
United States      481
Nigeria            469
Germany            459
Hong Kong          430
Name: count, dtype: int64