# EDA Analysis

#### Importing libraries and data

In [46]:
import pandas as pd
rating = pd.read_csv('/home/jabez/Projects/headline_analysis/data/rating.csv')
traffic = pd.read_csv('/home/jabez/Projects/headline_analysis/data/traffic.csv')
domains = pd.read_csv('/home/jabez/Projects/headline_analysis/data/domains_location.csv')

#### Data Overview

In [2]:
# Columns info
rating.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58356 entries, 0 to 58355
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   article_id       58356 non-null  int64
 1   source_id        17771 non-null  object
 2   source_name      58356 non-null  object
 3   author           56193 non-null  object
 4   title            58356 non-null  object
 5   description      58346 non-null  object
 6   url              58356 non-null  object
 7   url_to_image     54905 non-null  object
 8   published_at     58356 non-null  object
 9   content          58356 non-null  object
 10  category         58335 non-null  object
 11  article          58356 non-null  object
 12  title_sentiment  58356 non-null  object
dtypes: int64(1), object(12)
memory usage: 5.8+ MB

In [44]:
rating['category']

0            Monaco
1            Monaco
2        Madagascar
3        Madagascar
4        Madagascar
            ...
58351          Home
58352          Home
58353          Home
58354          Home
58355          Home
Name: category, Length: 58356, dtype: object

In [4]:
rating["article"].nunique()

54148

In [5]:
# droping duplicated articles. Now each row has a unique article.
rating.drop_duplicates(subset=['article'], keep='first', inplace=True)

In [10]:
# 10 Websites with the most articles
rating['source_name'].value_counts().head(10)

source_name
ETF Daily News        15034
The Times of India     6962
GlobeNewswire          5001
Globalsecurity.org     2902
Forbes                 2566
Business Insider       1979
BBC News               1955
The Punch              1734
ABC News               1703
Al Jazeera English     1588
Name: count, dtype: int64

In [12]:
# 10 Websites with the least articles
rating['source_name'].value_counts().tail(10)

source_name
CNA                            674
Time                           577
Android Central                515
Gizmodo.com                    380
ReadWrite                      315
Euronews                       286
CNN                            256
Wired                          256
The Verge                      205
AllAfrica - Top Africa News     18
Name: count, dtype: int64

In [41]:
#top websites by globe traffic
sorted = traffic.sort_values(by='GlobalRank')
sorted['Domain'].head(10)

0              google.com
1            facebook.com
2             youtube.com
3             twitter.com
4           instagram.com
5            linkedin.com
6               apple.com
7           microsoft.com
8    googletagmanager.com
9           wikipedia.org
Name: Domain, dtype: object

In [43]:
#bottom websites by globe traffic
sorted['Domain'].tail(10)

999990              eiretrip.com
999991      exploring-africa.com
999992                  hmag.com
999993            irishcycle.com
999994           keith-baker.com
999995                kireie.com
999996               mt-lock.com
999997             pinkwater.com
999998            soderhomes.com
999999    toyotamusicfactory.com
Name: Domain, dtype: object

In [7]:
rating["article"].nunique()

54148

In [28]:
traffic

,GlobalRank,TldRank,Domain,TLD,RefSubNets,RefIPs,IDN_Domain,IDN_TLD,PrevGlobalRank,PrevTldRank,PrevRefSubNets,PrevRefIPs
0,1,1,google.com,com,471274,2151358,google.com,com,1,1,471248,2147402
1,2,2,facebook.com,com,465424,2250631,facebook.com,com,2,2,465297,2247135
2,3,3,youtube.com,com,420579,1852995,youtube.com,com,3,3,420483,1848940
3,4,4,twitter.com,com,404985,1757127,twitter.com,com,4,4,404998,1753939
4,5,5,instagram.com,com,364746,1598085,instagram.com,com,5,5,364618,1594892
...,...,...,...,...,...,...,...,...,...,...,...,...
999995,999996,485324,kireie.com,com,222,280,kireie.com,com,-1,-1,-1,-1
999996,999997,485325,mt-lock.com,com,222,280,mt-lock.com,com,952633,461429,232,284
999997,999998,485326,pinkwater.com,com,222,280,pinkwater.com,com,-1,-1,-1,-1
999998,999999,485327,soderhomes.com,com,222,280,soderhomes.com,com,-1,-1,-1,-1
999999,1000000,485328,toyotamusicfactory.com,com,222,280,toyotamusicfactory.com,com,973201,471949,228,284

In [3]:
rating.sort_values(by='source_name')

,article_id,source_id,source_name,author,title,description,url,url_to_image,published_at,content,category,article,title_sentiment
7374,18460,abc-news,ABC News,Kelly McCarthy,birkenstock goes public on new york stock exch...,Birkenstock took its footwear company public a...,https://abcnews.go.com/GMA/Style/birkenstock-p...,https://i.abcnewsfe.com/a/d2942c0b-1891-41f7-9...,2023-10-12 20:56:17.000000,Birkenstock took a big step forward on Wall St...,Europe,birkenstock took a big step forward on wall st...,Neutral
23123,191917,abc-news,ABC News,"Quinn Owen, Mireya Villarreal, James Scholz",Fighting against fentanyl: How border agents a...,Senior government officials are concerned that...,https://abcnews.go.com/Politics/fighting-fenta...,https://i.abcnewsfe.com/a/8cfab2f4-5b89-4bc6-a...,2023-11-07 16:58:03,"NOGALES, Arizona -- Senior government official...",Israel,"NOGALES, Arizona --Senior government officials...",Neutral
12320,66081,abc-news,ABC News,Alexandra Hutzler,house to consider censure resolution against t...,The House of Representatives on Wednesday will...,https://abcnews.go.com/Politics/house-censure-...,https://i.abcnewsfe.com/a/d8a803cd-fe53-432c-a...,2023-11-01 21:09:27.000000,The House on Wednesday will weigh two censure ...,Georgia,"house democrats on wednesday, aided by some re...",Neutral
8029,20755,abc-news,ABC News,"Katherine Carroll, Arielle Schwartz, Emily Sha...",grandson recounts seeing graphic video of belo...,"Yoav Shimoni, 24, recounted to ABC News witnes...",https://abcnews.go.com/International/grandson-...,https://i.abcnewsfe.com/a/f196f71e-5b04-4205-8...,2023-10-13 16:53:51.000000,Yoav Shimoni opened up to ABC News about the t...,Facebook,yoav shimoni opened up to abc news about the t...,Negative
12315,66022,abc-news,ABC News,JONATHAN J. COOPER Associated Press,trump campaign says he raised more than $45m i...,Donald Trump’s campaign says it raised more th...,https://abcnews.go.com/Politics/wireStory/trum...,https://i.abcnewsfe.com/a/fde6f62e-1d4f-4482-8...,2023-10-05 02:36:12.000000,Donald Trumps campaign said Wednesday it raise...,Georgia,donald trump’s campaign said wednesday it rais...,Neutral
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7085,16801,wired,Wired,Kate Knibbs,ai watermarks are no match for attackers,Researchers say that it's too easy to evade cu...,https://www.wired.com/story/artificial-intelli...,https://media.wired.com/photos/651b4a6acbda616...,2023-10-03 10:00:00.000000,Soheil Feizi considers himself an optimistic p...,world,soheil feizi considershimself an optimistic pe...,Negative
27314,228478,wired,Wired,Scott Gilbertson,23 Best Black Friday Deals on Outdoor Gear (20...,"Check out REI, one of our favorite outdoor gea...",https://www.wired.com/story/black-friday-outdo...,https://media.wired.com/photos/654dc3428d8131a...,2023-11-10 12:00:00,Black Friday is traditionally the season when ...,News,Black Friday istraditionally the season when y...,Positive
21626,175047,wired,Wired,Ramin Skibba,The Euclid Space Telescope’s Spectacular First...,Images from the European Space Agency’s newest...,https://www.wired.com/story/the-euclid-space-t...,https://media.wired.com/photos/654971d21147e00...,2023-11-07 13:38:37,Scientists leading the European Space Agencys ...,Science,Scientists leading theEuropean Space Agency’sE...,Neutral
935,87189,wired,Wired,Saqib Rahim,hydro dams are struggling to handle the world’...,Climate change is robbing some hydro dams of w...,https://www.wired.com/story/hydro-dams-climate...,https://media.wired.com/photos/65276176b58ef6b...,2023-10-12 11:00:00.000000,"For BC Hydro, which serves 95 percent of Briti...",Namibia,it’s been oneof thewettest yearsin california ...,Negative
9802,32812,wired,Wired,Eric Ravenscraft,steelseries alias pro review: a newbie-friendl...,This XLR microphone is the perfect stepping st...,https://www.wired.com/review/steelseries-alias...,https://media.wired.com/photos/651b219882e82f1...,2023-10-03 14:00:00.000000,"For streamers, podcasters, and basically anyon...",Space,"for streamers, podcasters,and basically anyone...",Positive

In [47]:
domains

      SourceCommonName location    Country
0           00221.info       SG    Senegal
1            01net.com       FR     France
2             01net.it       IT      Italy
3          0223.com.ar       AR  Argentina
4         022china.com       CH      China
...                ...      ...        ...
37797      zz.diena.lv       LG     Latvia
37798      zz.fjnet.cn       CH      China
37799        zz.mnw.cn       CH      China
37800           zz7.it       IT      Italy
37801    zznews.gov.cn       CH      China

[37802 rows x 3 columns]

In [28]:
df